<!-- 页面框架代码 -->
<#setting classic_compatible=true />
<#include "public.html" />
<!DOCTYPE html>
<html>
<@loserStarHeader title="附件">
    <!-- 这里放生成的引入的js--begin -->
    <!--此部分代码放在head中引入该表的相关js--begin-->
    <script src="../view/sysFile/js/sysFileAction.js"></script>
    <script src="../view/sysFile/js/sysFileList.js"></script>
    <script src="../view/sysFile/js/sysFileListEvent.js"></script>

    <!--如使用树形表格，则使用此段js-->
    <!--<script src="../../HthyServer/view/sysFile/js/sysFileTreeListEvent.js"></script>-->

    <!--此部分代码放在head中引入该表的相关js--end-->
    <!-- 这里放生成的引入的js--end -->
    <script>
        //这里写自定义的js代码

    </script>
</@loserStarHeader>

<@loserStarBody title="附件" title2="附件">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">盒子标题</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- 树形列表的一些按钮，当然也可以放表格的按钮---begin -->
                    <div id="toolbar" class="btn-group">
                                <button type="button" class="btn btn-primary" onclick="listPageEvent.addTopNode()">
                                    <span class="glyphicon glyphicon-plus"></span>新增顶层节点
                                </button>
                                <button id="addSub" type="button" class="btn btn-primary" onclick="listPageEvent.addSubNode()" disabled>
                                    <span class="glyphicon glyphicon-plus"></span>新增下级节点
                                </button>
                                <button type="button" class="btn bg-olive" onclick="listPageEvent.expandAll()">
                                    <span class="fa fa-angle-double-down"></span>全部展开
                                </button>
                                <button type="button" class="btn bg-olive" onclick="listPageEvent.collapseAll()">
                                    <span class="fa fa-angle-double-up"></span>全部收缩
                                </button>
                                <button type="button" class="btn btn-info" onclick="listPageEvent.refresh()">
                                    <span class="glyphicon glyphicon-repeat"></span>刷新
                                </button>
                    </div>
                    <!-- 树形列表的一些按钮，当然也可以放表格的按钮---end -->

                    <!-- 这里放生成的html代码 -->
                    <!-- 本段代码为代码生成器根据表[sys_file]结构自动生成的bootstrap的表格的html，犯懒时候从这里粘过去用----begin-->
                    <table id="sys_file_table" class="table table-bordered table-striped" >
                        <thead id="dataList_thead">
                        </thead>
                        <tbody id="dataList_tbody">
                        </tbody>
                        <tfoot id="dataList_tfoot">
                        </tfoot>
                    </table>
                    <!-- 本段代码为代码生成器根据表[sys_file]结构自动生成的bootstrap的表格的html，犯懒时候从这里粘过去用----end-->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</@loserStarBody>

<@loserStarFooter />

</html>


