<!-- 页面框架代码 -->
<#setting classic_compatible=true />
<#include "public.html" />
<!DOCTYPE html>
<html>
<@loserStarHeader title="用户表">
    <!-- 这里放生成的引入的js--begin -->
    <!--此部分代码放在head中引入该表的相关js--begin-->
    <script src="../view/sysUser/js/sysUserAction.js"></script>
    <script src="../view/sysUser/js/sysUserForm.js"></script>
    <script src="../view/sysUser/js/sysUserFormEvent.js"></script>
    <script src="../view/sysFile/js/sysFileAction.js"></script>
    <!--此部分代码放在head中引入该表的相关js--end-->
    <!-- 这里放生成的引入的js--end -->
    <script>
        //这里写自定义的js代码

    </script>
</@loserStarHeader>

<@loserStarBody title="用户表" title2="用户表">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">用户表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- 这里放生成的html代码 -->
                    <!-- 本段代码为代码生成器根据表[sys_user]结构自动生成的bootstrap的表单html，犯懒时候从这里粘过去用----begin-->
                    <h1><small></small></h1>
                    <div class="container-fluid">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>用户表
                                </h4>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <fieldset <#if op_type="view">disabled</#if>>
                                        <div class="form-group">
                                            <label for="id" class="col-sm-2 control-label">主键id，用户账号：</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="id" value="${id}" <#if
                                                    id??>disabled</#if>>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="user_name" class="col-sm-2 control-label">用户名：</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="user_name" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="col-sm-2 control-label">密码：</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="password" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="pwd_err_count" class="col-sm-2 control-label">密码输入错误次数：</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" id="pwd_err_count" value="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="cgName" class="col-sm-2 control-label">附件：</label>
                                            <div class="col-sm-10">
                                                <button id="fileUploadBtn" type="button"
                                                    class="btn btn-primary <#if id==null||id==''||op_type='view'>disabled</#if>"
                                                    onclick="loserStarFileWindow.open('uploadFile.do?id=${id}');">上传附件</button>
                                                <ul id="fileList" class="list-group" style="display: none;">
                                                    <li href="#" class="list-group-item list-group-item-default"
                                                        target="_self">
                                                        <a type="button" class="btn btn-link" href="">下载</a>
                                                        <a type="button" class="btn btn-link" href="">删除</a>1
                                                    </li>
                                                    <!-- style="pointer-events: auto;cursor: pointer;opacity: 1;" -->
                                                </ul>
                                            </div>
                                        </div>
                                        <!--下拉-->
                                        <!--
                                        <select id="" class="form-control select2" style="width: 100%;">
                                        </select>
                                        -->

                                        <!--单选-->
                                        <!--
                                        <div class="radio col-sm-12">
                                            <label class="radio-inline">
                                                <input type="radio" name="a1" id="" value="1"> 满足
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="a1" id="" value="1"> 不满足
                                            </label>
                                        </div>
                                        -->
                                    </fieldset>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-primary" <#if op_type="view">style="display:none"
                                    </#if> onclick="formPageEvent.save();">保存</button>
                                <button type="button" class="btn btn-primary"
                                    onclick="window.location.href='listPage.do';">返回</button>
                            </div>
                        </div>
                    </div>
                    <!-- 本段代码为代码生成器根据表[sys_user]结构自动生成的bootstrap的表单html，犯懒时候从这里粘过去用----end-->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</@loserStarBody>

<@loserStarFooter />

</html>